---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h2 style="font-size: 1.5em;">Postgraduate Courses</h2>
{% for post in site.teaching reversed %}
  {% if post.type == "Postgraduate Course" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<hr style="margin: 2em 0;">
<h2 style="font-size: 1.5em;">Undergraduate Courses</h2>
{% for post in site.teaching reversed %}
  {% if post.type == "Undergraduate Course" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

